.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: $secondary-bg-color;
}

.footer__container {
	@media screen and (max-width: 767px) {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}

.footer-contacts {
	@media screen and (min-width: 1200px) {
		margin-right: 70px;
	}
}

.footer__logo {
	display: inline-block;
	margin-bottom: 20px;

	@media screen and (max-width: 1200px) {
		@include font-line(24px, 28px);
	}
}

.address {
	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
	}

	font-style: normal;
}

.address-list {
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
	margin-bottom: 8px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
	}
}

.address__map-link {
	color: $tertiary-text-color;
}

.address__link {
	color: $footer-color;
}

@import "./footer-social";

@import "./footer-form";
