.footer-social {
}

.footer-social__title {
	margin-bottom: 20px;

	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $tertiary-text-color;
}

.footer-social__list {
	display: flex;
	gap: 10px;
}

.footer-social__item {
	flex-basis: calc((100% - 30px) / 4);
}

.footer-social__link {
	display: flex;
	align-items: center;
	padding: 12px;

	color: $tertiary-text-color;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color 250ms $timing-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}

.footer-social__icon {
	fill: currentColor;
}
