.footer-form {
	@media screen and (min-width: 1200px) {
		margin-left: 93px;
	}
}

.footer-form__title {
	margin-bottom: 20px;

	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $tertiary-text-color;
}

.form-wrapper {
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.footer-form__input {
	width: 450px;
	margin-bottom: 20px;

	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
	}

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;

	color: $tertiary-text-color;
	background-color: $secondary-bg-color;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	&::placeholder {
		@include font-line(16px, 20px);
		letter-spacing: 0.03em;
		color: $footer-color;
	}
}

.footer-form__btn {
	display: flex;
	align-items: center;
	padding: 10px 28px;
	height: 50px;

	@media screen and (max-width: 1200px) {
		margin-right: auto;
		margin-left: auto;
	}

	@media screen and (max-width: 767px) {
		padding-left: 31px;
	}

	color: $tertiary-text-color;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color 250ms $timing-function;

	&:hover,
	&:focus {
		background-color: $btn-accent-color;
	}
}

.footer-form__span {
	margin-right: 12px;

	@media screen and (min-width: 1200px) {
		margin-right: 10px;
	}

	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
}

.footer-form__icon {
	fill: currentColor;
}
