.header {
	z-index: 1;

	// @media screen and (max-width: 767px) {
	// 	position: relative;
	// }

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	background-color: $primary-bg-color;

	border-bottom: 1px solid #ececec;
}

.header__container {
}

.menu {
	display: flex;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo {
	display: inline-block;
	padding: 16px 0;

	transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

	@media screen and (max-width: 767px) {
		.menu__button--is-open & {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}
	}

	@media screen and (max-width: 1199px) {
		@include font-line(24px, 28px);
	}

	@media screen and (min-width: 768px) {
		margin-right: 87px;
		padding: 26px 0;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 92px;
		padding-top: 24px;
		padding-bottom: 25px;
	}
}

.menu__button {
	display: inline-flex;
	background-color: transparent;

	transition: color 250ms $timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	.icon-cross {
		display: none;

		fill: currentColor;
	}
	&--is-open .icon-cross {
		display: block;
	}

	.icon-menu {
		fill: currentColor;
	}
	&--is-open .icon-menu {
		display: none;
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.header__wrapper {
	@media screen and (max-width: 767px) {
		position: absolute;
		top: 59px;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;

		opacity: 0;
		pointer-events: none;
		visibility: hidden;

		transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

		.menu__button--is-open & {
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
		}
	}

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}

	background-color: $primary-bg-color;
}

.nav {
	@media screen and (max-width: 767px) {
		margin-left: 40px;
		margin-bottom: 306px;
	}

	@media screen and (min-width: 768px) {
		margin-right: 94px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 315px;
	}
}

.nav__list {
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 50px;
	}
}

.nav__item {
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	@media screen and (min-width: 768px) {
		position: relative;
	}
}

.nav__link {
	color: $primary-text-color;

	@media screen and (max-width: 767px) {
		font-weight: 500;
		@include font-line(40px, 47px);
		letter-spacing: 0.02em;
	}

	@media screen and (min-width: 768px) {
		display: block;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.link--current {
	color: $accent-color;

	@media screen and (min-width: 768px) {
		&::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;

			width: 100%;
			height: 4px;

			background-color: $accent-color;
			border-radius: 2px;
		}
	}
}

.contacts {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 32px;

		margin-left: 40px;
		margin-bottom: 64px;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 30px;
	}
}

.contacts__item {
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			order: 1;
		}

		font-weight: 500;
		letter-spacing: 0.02em;

		&:first-child {
			@include font-line(24px, 28px);
		}
		&:last-child {
			@include font-line(34px, 40px);
		}
	}

	@media screen and (max-width: 1199px) {
		@include font-line(12px, 14px);

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.contacts__link {
	display: block;

	color: $secondary-text-color;

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.contacts__icon {
	margin-right: 8px;

	fill: currentColor;

	@media screen and (max-width: 1199px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		&.icon-envelope,
		&.icon-smartphone {
			display: inline-block;
		}
	}

	@media screen and (min-width: 1200px) {
		margin-right: 10px;
	}

	@media screen and (min-width: 1200px) {
		&.icon-envelope,
		&.icon-smartphone {
			display: none;
		}
	}
}

.header-social {
	display: flex;
	flex-wrap: wrap;

	margin-left: 40px;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.header-social__item {
	display: flex;
	align-items: center;

	&:not(:last-child)::after {
		content: "";
		width: 22px;
		height: 1px;

		background-color: rgba(33, 33, 33, 0.2);
		transform: rotate(90deg);
	}
}

.header-social__link {
	font-weight: 500;
	@include font-line(18px, 22px);
	letter-spacing: 0.02em;
	color: $accent-color;

	&:not(:last-child) {
		margin-right: 10px;
	}
	&:not(:first-child) {
		margin-left: 10px;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	@media screen and (max-width: 402px) {
		margin-bottom: 10px;
	}
}
