.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients__title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: $primary-text-color;
}

.clients__list {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 30px;
}

.clients__item {
	flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
	display: block;
	color: $primary-svg-color;
	padding: 16px 32px;

	border: 1px solid $primary-svg-color;
	border-radius: 4px;

	transition: color 250ms $timing-function, border-color 250ms $timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
		border-color: $accent-color;
	}
}

.clients__logo {
	fill: currentColor;
}
