.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $accent-color;

	&__span {
	}

	&__span--black {
		color: $quaternary-text-color;
	}

	&__span--white {
		color: $tertiary-text-color;
	}
}
