$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: #ffffff;
$quaternary-text-color: #000000;
$accent-color: #2196f3;
$footer-color: rgba(255, 255, 255, 0.6);

$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$tertiary-bg-color: #f5f4fa;

$btn-accent-color: #188ce8;

$border-color: #eeeeee;

$primary-svg-color: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
